<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TeraFlop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ArchiveSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Teraflop</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
           
               <div class="row">

                    <form asp-controller="Login" asp-action="Entrar" method="post">
                        @model ArchiveSystem.Models.Entidades.UsuarioModel
                        
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                            @if (TempData["MenssagemStatusLogin"] != null)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            <p style="font-size = 4">@TempData["MenssagemStatusLogin"]</p>
                                        </div>
                                    }
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark">Email </a>
                                </li>
                                <li class="nav-item">
                                    <input asp-for="Email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="exemplo@email.com">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark">Senha </a>
                                </li>
                                <li class="nav-item">
                                    <input asp-for="Senha" type="password" class="form-control"  placeholder="Senha">
                                </li>
                                <li class="nav-item">
                                    <button type="submit" class="btn btn-primary mb-3">Entrar</button>
                                </li>
                            </ul>

                    </form>
               </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ArchiveSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
